.title {
    font-family: montserrat;
    font-size:60pt;
    background-size: cover;
    color: white;
    min-height: 33vh;
    background-repeat: no-repeat;
    text-indent: 700px;
    text-align: center;
    margin-bottom: 40px;
}

.move {
    position: relative;
    bottom: -160px;
    left: 16px;
}

.menu {
    text-align: center;
    font-family: montserrat;
    color: black;
}


.port-container {
    max-width: 60rem;
    margin: auto;
}

.footer {
    max-width: 40rem;
    color: gray;
    font-family: sans-serif;
}

.port-img-block .cell {
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}

.life-river{
    background-size: contain;
    background-repeat: no-repeat;
}

.text-box {
    border: 1px solid grey;
}

.footer-contact{
    border-left: 1px solid white;
    color: grey;
    font-family: sans-serif;
}

.h2 {
    font-family: montserrat;
}

.menu a {
    color: black;
}

a:hover {
    color: grey;
}

.button {
    align-content: center;
    color: white;
}

.about-para {
    margin-left: 50px;
    color: gray;
}

.about-name {
    color: black;
    font-family: sans-serif;
}

.portrait {
    font-family:helvetica;
    font-size: 9px;
    color: slategrey;
}


.h3 {
    font-family: sans-serif;
}

.pulled {
    image-orientation: center;
}

.contact-text {
    font-family: montserrat;
}

.button {
    font-family: montserrat;
    background-color: darkgray;
}

.content-right {
    color: grey;
    font-family: sans-serif;
}

.gallery-1-right {
    color: dimgray;
    margin-left: 50px;
    margin-top: 10px;
    font-family: sans-serif;
}

.link-1 a {
    color: black;
}

.link-2 a {
    color: black;
}

.link a:hover {
    color: grey;
}

.port-img-block a:hover {
    opacity: .50;
}