.title {
    font-family: montserrat;
    font-size:50pt;
    text-align: center;
}

.menu {
    text-align: center;
    font-family: montserrat;
}


.port-container {
    max-width: 60rem;
    margin: auto
}



.port-img-block .cell {
    background-size:cover;
}